@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@500&display=swap");

:root {
  --primary-color: #ffbd39;
  --grey: rgb(147, 147, 147);
  --card-color: #1a1a1a;
  --form-container-color: #f8f9fa;
}
body {
  background: rgb(0, 0, 0);
  color: white;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background: white;
  padding: 1em;
  .logo {
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 1.2em;
    span {
      color: var(--primary-color);
    }
  }
  nav {
    display: none;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .mobile-menu {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

section {
  padding: 5em 2em;
  overflow: hidden;
}
.home {
  text-align: center;
  position: relative;
  height: 85vh;
}

.left-col {
  margin-top: 10em;
  .subhead {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: var(--primary-color);
    font-weight: 500;
  }
  h1 {
    margin: 0.2em 0 0.7em 0;
    font-size: 40px;
    span {
      color: var(--primary-color);
    }
  }
  .subhead-description {
    font-size: 28px;
    margin-top: 0.2em;
  }
  .primary-cta {
    background: var(--primary-color);
    color: black;
    padding: 0.6em 1.3em;
    border-radius: 5em;
  }
  .myworks-cta {
    border: 0.5px solid white;
    border-radius: 5em;
    background: none;
    font-weight: 500;
    padding: 0.6em 1.3em;
    color: white;
  }
}
.home-image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: -1;
  opacity: 0.3;
}

.about-section {
  margin-top: 10vh;
  .about-left {
    display: none;
  }
  .about-right {
    h1 {
      font-size: 40px;
      text-align: center;
    }
    .about-description {
      color: var(--grey);
    }
    .sub-about {
      display: flex;
      .sub-about-left {
        font-weight: bold;
        margin-right: 1em;
      }
      .sub-about-right {
        color: var(--grey);
      }
    }
    .project-completed {
      font-weight: 500;
      font-size: large;
      margin-bottom: 2em;
      span {
        color: var(--primary-color);
        font-weight: bold;
      }
    }
    .CV {
      background: var(--primary-color);
      color: black;
      padding: 0.6em 1.3em;
      border-radius: 5em;
    }
  }
}
.resume-section {
  h1 {
    font-size: 40px;
    text-align: center;
  }
  .resume-description {
    color: var(--grey);
    text-align: center;
    margin: 2em;
    padding: 20px;
  }
  ul {
    li {
      background-color: var(--card-color);
      border-radius: 0.5em;
      text-align: center;
      margin: 1em;
      padding: 32px;
      h2 {
        color: var(--primary-color);
        font-size: 26px;
      }
      .resume-subhead {
        font-size: 1.3em;
        line-height: 1.5px;
      }
      .resume-sector {
        color: var(--grey);
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 12px;
        margin-top: 30px;
      }
    }
  }
}
.services-section {
  h1 {
    font-size: 40px;
    text-align: center;
  }
  .services-description {
    text-align: center;
    color: var(--grey);
    padding: 20px;
    margin: 2em;
  }
  ul {
    li {
      position: relative;
      text-align: center;
      padding: 32px;
      margin-bottom: 1em;
      background: var(--card-color);
      border-radius: 0.5em;
      &:hover {
        background-color: var(--primary-color);
        color: black;
        transition: 0.3s;
      }
      img {
        height: 10vh;
      }
      .services {
        text-transform: uppercase;
        &:after {
          position: absolute;
          bottom: 37px;
          left: 0;
          right: 0;
          content: "";
          width: 30px;
          height: 1px;
          background: #ffbd39;
          margin: 0 auto;
        }
      }
    }
  }
}

.myskills-section {
  h1 {
    text-align: center;
    font-size: 40px;
  }
  .skills-description {
    text-align: center;
    color: var(--grey);
    padding: 20px;
    margin: 2em;
  }
  .skills-container{
    display: grid;
    gap: 40px;
    grid-template-rows: repeat(3,200px);
    grid-template-columns: repeat(3,200px) ;
    margin-left: 1em;
    .skill{
      border-radius: .7em;
      text-align: center;
      background-color: var(--card-color);
      img{
        margin-top: 2rem;
        width: 5em;
        height: 80px;
      }
    }
  }
  
  
}
.projects-section {
  .container {
    padding: 3em;
    h1 {
      text-align: center;
      font-size: 40px;
    }
    .projects-description {
      text-align: center;
      color: var(--grey);
      margin-bottom: 2rem;
    }
    .card-container{
      background-color: var(--card-color);
      width: 1000vw;
      height: 50vh;
      margin-left: -20vw;
    }
    .image-card {
      display: flex;
      margin-right: 20px;
      ul{
        display: flex;
        flex-direction: row;
        gap: 10%;
        position: relative;
        animation: mymove 10s infinite ;
        @keyframes mymove {
          from {left: 0px;}
          to {left: -1450px;}
        }
        li{
          position: relative;
          width: fit-content;
          
          img{
            width: 35rem;
            border-radius: 1rem;
                    
          }
          .procontent{
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 1;
            transition: 0.6s;
            h2{
              color: var(--primary-color);
              border: 2px solid var(--primary-color);
              padding: 10px;
              margin-bottom: 0rem;
              opacity: 0.8;
            }
            p{
              padding-left: 10%;
              padding-right: 10%;
              color: white
            }
            a{
              background-color: var(--primary-color);
              opacity: 0.8;
              text-align: center;
              padding: 0.5rem;
              width: 97%;
              color: black;
              font-size: large;
              text-decoration: none;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
}

.contacts-section {
  .container {
    padding: 3em;
    display: grid;
    place-content: center;
    h1 {
      text-align: center;
      font-size: 40px;
    }
    .contacts-description {
      color: var(--grey);
      text-align: center;
    }
    ul {
      margin-bottom: 6em;
      text-align: center;
      li {
        i{
          background-color: var(--card-color);
          min-width: 7.8rem;
          min-height: 4rem;
          padding-top: 3rem;
          font-size:larger;
          color: var(--primary-color);
          border-radius: 50%;
        }
        margin-top: 6em;
        border-radius: 2rem;
        .contact-i {
          position: relative;
        }
        img {
          height: 5vh;
          padding: 2.2em;
          border-radius: 5em;
        }
        .contact-header {
          text-transform: uppercase;
        }
        .contact-subhead {
          color: var(--grey);
        }
      }
    }
    .form-container {
      position: relative;
      height: 130vh;
      width: 80vw;
      display: flex;
      flex-direction: column-reverse;
      .left-contact {
        img {
          top: 0px;
          width: 80vw;
          height: 100%;
          
        }
      }
      .right-contact {
        position: absolute;
        top: 0;
        left: 0;
        width: 67.5vw;
        height: 40%;
        background-color: var(--form-container-color);
        padding: 3em;
        input,
        textarea {
          display: block;
          padding: 0.5em 1em;
          width: 100%;
          border: 1.5px solid rgb(209, 209, 209);
          border-radius: 10px;
          margin: 0.5em auto 0 auto;
          font-size: 15px;
          height: 40px;
        }
        textarea {
          height: 100px;
          font-family: "Poppins";
        }
        .send-message-cta {
          width: 105%;
          background: var(--primary-color);
          cursor: pointer;
          border-radius: 5em;
          border: none;
          font-family: "Poppins";
          text-transform: uppercase;
          letter-spacing: 0.8px;
        }
      }
    }
  }
}
footer {
  background: var(--card-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  .footer-links {
    a {
      font-size: 25px;
      color: var(--grey);
      margin: 25px;
      &:hover {
        color: var(--primary-color);
        transition: 0.4s ease-in;
      }
    }
  }
  .footer-text {
    margin-top: 2em;
    color: var(--grey);
  }
}

#shadow-host-companion{
  display: none;
}

nav.menu-btn{
  display: block;
}

nav{
  position: fixed;
  z-index: 100;
  width: 66%;
  right: 0;
  top: 0;
  background-color: black;
  height: 100vh;
  padding: 1em;
  ul.primary-nav{
    margin-top: 5em;
  }
  li{
    a{
      color: white;
      text-decoration: none;
      display: block;
      padding: .5em;
      font-size: 1.3em;
      text-align: left;
      transition: all .4s ease-in;
      &:hover{
        font-weight: bold;
        color: var(--primary-color);
      }
    }
  }
}
.mobile-menu-exit{
  float: right;
  margin: .5em;
  cursor: pointer;
}


@media only screen and (min-width: 768px) {
  .mobile-menu,.mobile-menu-exit {
    display: none;
  }

  .navbar {
    margin: 0;
    padding: 0;
  }
  .navbar .container {
    overflow: hidden;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    .logo {
      color: #f8f9fa;
      text-align: center;
      margin: auto 2em;
      font-size: 24px;
    }
    .primary-nav{
      text-align: center;
      
    }
  }
  .navbar nav {
    display: flex;
    min-height: 10vh;
    position: relative;
    margin-right: 70%;
    justify-content: space-around;
    ul {
      display: flex;
      margin-left: 30%;
      li {
        margin: auto 5px 20em;
      }
    }
    a {
      position: relative;
      text-align: center;
      color: white;
      font-size: 16px;
      margin: auto 2em;
    }
    a:after {
      content: "";
      position: absolute;
      background-color: var(--primary-color);
      height: 2px;
      width: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      transition: 0.4s;
    }
    a:hover:after {
      width: 100%;
      right: 0%;
      left: 0%;
    }
  }
  .home .container {
    display: flex;
    flex-direction: column;
    .left-col {
      margin-right: auto;
      margin-left: auto;
    }
    .home-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      opacity: 0.3;
    }
  }
  .about-section {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    .about-left {
      visibility: visible;
      margin-top: 6rem;
      img {
        border-radius: 4%;
        width: 30vw;
        height: 40vh;
      }
    }
    .about-right {
      position: absolute;
      top: 0;
      left: 40%;
      h1 {
        font-size: 40px;
        text-align: center;
      }
      .about-description {
        color: var(--grey);
      }
      .sub-about {
        line-height: 35px;
        display: flex;
        .sub-about-left {
          font-weight: bold;
          margin-right: 1em;
        }
        .sub-about-right {
          color: var(--grey);
        }
      }
    }
  }

  .myskills-section{
    .container{
      .skills-container{
        margin-left: 6vw;
        display: grid;
        gap: 40px;
        grid-template-rows: repeat(3,250px);
        grid-template-columns: repeat(3,400px) ;
        place-items: center ;
        .skill{
          border-radius: .7em;
          text-align: center;
          background-color: var(--card-color);
          height: 30vh;
          width: 20vw;
          img{
            margin-top: 2rem;
            width: 6em;
            height: 6em;
        }
        }
      }
    }
  }

  .contacts-section{
    ul{
      display: flex;
      justify-content: space-around;
    }
    .form-container{
      display: none;
    }
    .form-container{
      height: fit-content;
      width: 25vw;
      .left-contact{
        height: 64.5vh;
        width: 40vw;
      }
      .right-contact{
        margin-left: auto;
        width: 0%;
      }

    }
  }

  .contacts-section .container .form-container .right-contact {
    position: absolute;
    top: 39.75vh;
    left: 6.5rem;
    width: 27vw;
    height: 39.25%;
    background-color: var(--form-container-color);
    padding: 3em;
}
.contacts-section .container .form-container .left-contact img {
  margin-top: -30%;
  margin-left: 40.3vw;
  width: 31vw;
  height: 100%;
}
.resume-section .container{ 
  ul{
  display: grid;
  grid-template-rows: repeat(2,400px);
  grid-template-columns: repeat(2,600px);
  margin-left: 6vw;

}}
.services-section .container{ 
  ul{
  display: grid;
  gap: 30px;
  grid-template-rows: repeat(2,250px);
  grid-template-columns: repeat(2,550px);
  margin-left: 9vw;
  letter-spacing: .1em;
    li{
      img{
        color: var(--primary-color);
      }
    }
}}
  
.about-section{
  margin-bottom: -40vh;
  height: 70vh;
  margin-left: 10vw;
  .container{
  .about-left{
    display: block;
  }
  .about-right{
    h1{
      text-align: left;
    }
  }
  }
}
}
